<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mm"> 
	<insert id="memberjoin" parameterType="memberdto">
		INSERT INTO MEMBERTB(
			MID, MPASSWORD, MPHONE, MNAME) VALUES(#{mid},#{mpassword},#{mphone},#{mname})
	</insert>
	
	<select id="idcheck" parameterType="String" resultType="String">
		SELECT MID FROM MEMBERTB WHERE MID=#{mid}
	</select>
	
	<select id="memberlogin" parameterType="memberdto" resultType="String">
		SELECT MID FROM MEMBERTB WHERE MID=#{mid} AND MPASSWORD=#{mpassword}
	</select>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 