<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cm"> 
	<insert id="commentwrite" parameterType="commentdto">
		INSERT INTO COMMENTTABLE2(CNUMBER,CBNUMBER,CWRITER,CCONTENTS)
		 VALUES(COT_SEQ.NEXTVAL,#{cbnumber},#{cwriter},#{ccontents})
	</insert> 
	
	<select id="commentlist" parameterType="int" resultType="commentdto">
		SELECT*FROM COMMENTTABLE2 WHERE CBNUMBER=#{cbnumber} ORDER BY CNUMBER DESC
	</select>
</mapper>